* {
  box-sizing: border-box;
}


.weather-feed {
  text-align: center;
}

.container {
  height: 640px;
  width: 1080px;
}


.current-temp {
  position: relative; 
}

.current-temp h1 {
  font-size: 100px;
}


span.degree-symbol {
  position: absolute;
  top: -15px;
  right: 370px;
  font-size: 100px;
}

.five-day-forecast {
  display: flex;
  justify-content: space-evenly;
  margin: 200px 0px;
}

.todays-weather {
  margin-top: 70px;
}