* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

}


.weather-feed {
  text-align: center;
}

.container {
  height: 640px;
  width: 1080px;
}


.current-temp {
  position: relative; 
}

.current-temp h1 {
  font-size: 100px;
  font-weight: bold;
}

.condition {
  margin: 15px 0;
}

span.degree-symbol {
  position: absolute;
  top: 22px;
  right: 430px;
  font-size: 100px;
}

.five-day-forecast {
  display: flex;
  justify-content: space-evenly;
  margin: 185px 0px;
  font-size: 20px;
}

.todays-weather {
  margin-top: 70px;
}