* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

}


.weather-feed {
  text-align: center;
}

.container {
  height: 640px;
  width: 1080px;
}


.current-temp {
  position: relative; 
}

.current-temp h1 {
  font-size: 115px;
  font-weight: bold;
}

.condition {
  margin: 15px 0;
  /* font-size: 25px; */
  font-weight: 500;
}

.city{
  font-weight: 300;
}

span.degree-symbol {
  position: absolute;
  top: 65px;
  right: 423px;
  font-size: 100px;
}

.five-day-forecast {
  display: flex;
  justify-content: space-evenly;
  margin: 135px 0px;
  font-size: 20px;
}

.todays-weather {
  margin-top: 70px;
}

.forecast-current-temp {
  position: relative;
}

.forecast-current-temp p {
    margin-top: 23px;
    margin-bottom: -1rem;
}

.degree-symbol-5-day {
  position: absolute;
  top: 0px;
  right: 36px;
}

.today {
    font-size: 23px;
    font-weight: 200;
}